        html{
            background-color: #4de2a5;
        }
        body
        {
            background-color: #fffddd;
        }
        
        h1 {
            color: #111fff;
            font-size: 50px;
        }
        
        p {
            color: #ffffff;
            font-size: 45px;
        }
        
        h2 {
            color: #000000;
            font-size: 35px;
            background-color: blueviolet;
        }
        
         /* 
        ESTRUCTURA DE LAS CLASES
        .nombreClase
        {
        }
        */
        .nombreClaseRojo  {
             background-color:#F11717;
        }

          .nombreClaseAzul  {
             background-color:#19089A;
        }

          .nombreClaseAmarillo  {
             background-color:#FFFF00;
        }
