<h1>Bienvenidos</h1>
<div class="row text-center">
  <div class="col-sm-5 jumbotron">
    <h1>Mascotas!</h1>
    <p>Registra tus mascotas para compartirlas por la web :)</p>
    <p><a class="btn btn-primary btn-lg" href="/CrearMascota" role="button">Registrar Mascotas</a>
      <a class="btn btn-primary btn-lg" href="/ListarMascotas" role="button">Listar Mascotas</a>
    </p>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-5 jumbotron">
    <h1>Usuarios!</h1>
    <p>Registra tus datos para saber más de ti :)</p>
    <p><a class="btn btn-primary btn-lg" href="/CrearUsuario" role="button">Registrar Usuarios</a>
      <a class="btn btn-primary btn-lg" href="/ListarUsuarios" role="button">Listar Usuarios</a></p>
  </div>
</div>
<div class="row text-center">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 jumbotron">
    <h1>Razas!</h1>
    <p>Registra las nuevas razas que no se encuentran en el sistema :)</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/CrearRaza" role="button">Registrar Razas</a>
      <a class="btn btn-primary btn-lg" href="/ListarRazas" role="button">Listar Razas</a>
    </p>
  </div>
  <div class="col-sm-3"></div>
</div>

