<h1>Bienvenidos</h1>

<div class="jumbotron">
  <h1>Mascotas!</h1>
  <p>Registra tus mascotas para compartirlas por la web :)</p>
  <p><a class="btn btn-primary btn-lg" href="/Crear Mascota" role="button">Registrar Usuarios</a></p>
</div>

<div class="jumbotron">
  <h1>Usuarios</h1>
  <p>Registra tus datos </p>
  <p><a class="btn btn-primary btn-lg" href="/CrearUsuario" role="button">Registrar Usuarios</a></p>
</div>
<div class="jumbotron">
  <h1>Razas</h1>
  <p>Registra los datos de las razas </p>
  <p><a class="btn btn-primary btn-lg" href="/CrearUsuario" role="button">Registrar Usuarios</a></p>
</div>
