<style>
    .rojo{

       background-color:red;
        color: white;


    }
</style>
<div class ="rojo">

<h1>Aquí empieza el homepage</h1>


<h1>!!!Hola a todos¡¡¡</h1>


<h1>Aquí finaliza el homepage</h1>
</div>