<h2>Crear usuario</h2>
<form action="/Usuario/CrearUsuario" method="post">

  <div class="form-group">
    <label>Nombres</label>
    <input type="text" class="form-control" placeholder="Ingrese sus Nombres" name="nombres" required>
  </div>

  <div class="form-group">
    <label>Apellidos</label>
    <input type="text" class="form-control" placeholder="Ingrese sus Apellidos" name="apellidos" required>
  </div>

  <div class="form-group">
    <label>Correo</label>
    <input type="email" class="form-control" placeholder="Ingrese su correo" name="correo" required>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Ingrese su nuevo Password" name="password" required>
  </div>
  <button type="submit" class="btn btn-success">Crear Usuario :)</button>
</form>








