<style>
    .rojo{
        background-color:red;
    }
</style>


<div class="rojo">
   <ul>
       <li><a href="cuenca.ejs">Cuenca</a></li>
       <li><a href="guayaquil.ejs">Guayaquil</a></li>
       <li><a href="quito.ejs">Quito</a></li>
   </ul>
    
</div>