<div>
<h1>Crear Razas</h1>
  <form action="raza/crearRaza" method="post">
    <div class="form-group">
      <label>Nombre</label>
      <input required type="text" class="form-control"  placeholder="Ingrese el Nombre" name="nombreRaza">
    </div>
    <div class="form-group">
      <label>Característica</label>
      <input required type="text" class="form-control"  placeholder="Ingrese una caracteristica" name="caracteristica">
    </div>
    <div class="form-group">
      <label>Región de origen</label>
      <input required type="text" class="form-control"  placeholder="Ingrese la región de origen" name="regionOrigen">
    </div>
    <button type="submit" class="btn btn-success">Crear Raza</button>
    <br>
  </form>
</div>
